body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.donate-button svg,
svg.donate-button {
  -webkit-animation: heart 1s infinite;
  animation: heart 1s infinite;
}

@-webkit-keyframes heart {
  0%,
  40%,
  80%,
  to {
    transform: scale(1);
  }

  20%,
  60% {
    transform: scale(1.15);
  }
}

@keyframes heart {
  0%,
  40%,
  80%,
  to {
    transform: scale(1);
  }

  20%,
  60% {
    transform: scale(1.15);
  }
}

.rolling-dice {
  animation: roll 1s infinite;
}

@-webkit-keyframes roll {
  0%,
  to {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes roll {
  0%,
  to {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
